.about-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 100%;
}

.title__backToFeed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.go__back__img {
    min-height: 30px;
    min-width: 30px;
    background-image: url(../../img/go_back.png);
    background-position: center;
    background-size: cover;
    margin-right: 10px;

    transition: transform .7s ease-in-out;
}

.go__back__img:hover {
    transform: rotate(360deg);
}

h5 {
    word-break: break-all;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    margin: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.info__panel {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: inherit;
    box-sizing: border-box;

    -moz-border-radius:15px;
    -khtml-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.21);

    word-wrap: break-word;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

    background-color: #F0F1FF;
    font-size: 18px;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.read__img {
    min-height: 30px;
    min-width: 30px;
    background-image: url(../../img/read.png);
    background-position: center;
    background-size: cover;
}

.date__news, .author__news, .read__img, .read__img__grey {
    margin-right: 5%;
    margin-left: 5%;
}

.link__to__news__read {
    margin-right: 5%;
    margin-left: 5%;
}

.optional__text {
    margin-left: 10%;
    margin-right: 10%;
}

.read__img__grey {
    min-height: 30px;
    min-width: 30px;
    background-image: url(../../img/grey_read.png);
    background-position: center;
    background-size: cover;
}

.link__to__news p {
    margin: 0;
}