header {
    height: 130px;
    background-color: #3940d7;
    color: white;
    /*height: 100%;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-h1 {
    font-size: 22px;
}

.header-controls {
    /*position: fixed;*/
    top: 35px;
    left: 27%;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    width: 45%;
}

.update_img {
    height: 30px;
    width: 30px;
    background-image: url('../../img/update.png');
    background-position: center;
    background-size: cover;
    margin-left: 50px;

    transition: transform .7s ease-in-out;
}

.update_img:hover {
    cursor: pointer;
    transform: rotate(360deg);
}
