.load__more {
    width: 32px;
    height: 32px;
    background: url(/src/img/load_more.png) 0% 0% no-repeat;
    background-size:cover;
    border-radius: 50%;
    margin-bottom: 30px;
    border: none;
    outline: none;
}

.container-for-load-more {
    display: flex;
    justify-content: center;
    align-items: center;
}
